<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <title>Ingreso al sistema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href="{% static 'core/styles/style.css' %}" rel="stylesheet">
</head>
<body>
    {% load crispy_forms_tags %}
   
        <div class="col-12 col-md-6 offset-md-3 " >
            <div class="container contLoginAdmin ">
                <h2>Registro de Usuario</h2>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form| crispy }}
                    <a href="{% url 'home' %}">Ir al home</a>
                    <input type="submit" value="Registrarse" class="btn btn-success ">
                </form>
            </div>
        </div>
    
    
</body>
</html>