{% extends 'core/base.html' %}
{% block contenido %}
{% load static %}

<div class="container-fluid d-flex flex-wrap divautor ">
  <div class="container-fluid d-flex justify-content-center divimgautor ">
    <img alt="autor" class="img-fluid fotoautor" src="{{ autor.imagenAutor.url}}">
   
  </div>
  


  <div class="container-fluid infoautor  ">
   <h2 class=" tituloautor">{{ autor.nombre }}</h2>
    <p class="citaautor">{{ autor.cita}}
    </p>
    <p class="histoautor">
      {{autor.historia}}
    </p>
  </div>

</div>
<div class="container-fluid">
  <div class="container-fluid d-flex">
    
  <h1 class="container-fluid " >Libros</h1>
 
 
  </div>
  
</div>

{% endblock %}