<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HoodBooks</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       {% load static %}
       <link rel="shortcut icon" href="{% static 'core/img/HoodBooks.png' %}" type="image/png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
       <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">
       <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       <link href="{% static 'core/styles/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static 'core/img/logo.png' %}"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav  justify-content-center">
                  <li class="nav-item col align-self-center">
                    <a class="nav-link active " aria-current="page" href="{% url 'home' %}">Inicio</a>
                  </li>
                  <li class="nav-item col align-self-center">
                    <a class="nav-link" href="{% url 'libros' %}">Libros</a>
                  </li>
                  <li class="nav-item col align-self-center">
                    <a class="nav-link" href="{% url 'autores' %}">Autores</a>
                  </li>  
                </ul>
                <div class="container mt-2 d-flex flex-row justify-content-center">
                  
                    <form class="d-flex container-fluid">
                      <input class="form-control inputa" type="search" placeholder="Encuentra  tu libro!" >
                      <button class=" btn btn-outline-success inputab " type="submit">Buscar</button>
                    </form>
                </div>
                <div class="div d-flex flex-row justify-content-center">
                    <button class="btn-iniciar  mt-2 ">Iniciar Sesión</button>
                    <a href="register.html"> <button class="btn-crearCuenta mt-2 ">Crear cuenta </button></a>
                </div>
                
              </div>
              
            
            </div>
            
        </nav>
    <div id="contenido">
      
      {% if messages %}
      {% for m in messages %}
        <script>
          Swal.fire({
            "title":"Felicitaciones",
            "text": "{{m}}",
            "icon": "success"
          })
        </script>
      {% endfor %}
    {% endif %}
    
    {% block contenido %}
    {% endblock %}
        
    </div>
         
        
        
          <!--footer-->
         <footer class="footer">
            <div class="container-fluid contenedor-footer">
              <div class="row1">
                <a href="#"><img src="{% static 'core/img/HoodBooks.png' %}" class="img-fluid logo2" ></a>
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">bussines</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">our Services</a></li>
                        <li><a href="#">Privacy politic</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                  <h4>Get Help</h4>
                  <ul>
                      <li><a href="#">bussines</a></li>
                      <li><a href="#">Shipping</a></li>
                      <li><a href="#">Return</a></li>
                      <li><a href="#">bussines</a></li>
                  </ul>
              </div>
              
            <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
          </div>
              </div>
            </div>
            <div class="container-fluid derechos text-center" ><h6 class="derechos1">@2021 Todos los derechos reservados | HoodBook </h6></div>
         </footer>
        
         
      
        
        
          
        
    </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</html>