{% extends 'core/base.html' %}
{% block contenido %}
{% load static %}
<div class="container perro">
    <h6 class="l6 text-center p-auto">Bienvenidos a HoodBooks</h6>
  </div>
  <div class="container te">
    <h6 class="text-center">Tematica del mes</h6>
  </div >
  <div class="container">
    <div class="container  d-flex justify-content-center  row ">
    
      <img src="{% static 'core/img/terror.jpg' %}" class="img-fluid tematica  " alt="...">
      <img src="{% static 'core/img/cyberpunk.jpg' %}" class="img-fluid tematica" alt="...">
    </div>
  </div>
       
  <div class="container  xd1  ">
      <div class="container xd2 d-flex justify-content-evenly  row ">
        <div class="card  " >
          <img src="{% static 'core/img/libro1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body small">
            <h6 class="card-title">Metro 2035</h6>
            <h8 class="card-subtitle mb-2 text-muted">Dmitri Glujovski</h8>
            
          </div>
        </div>
        <div class="card " >
          <img src="{% static 'core/img/libro2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body small">
            <h6 class="card-title">Future</h6>
            <h8 class="card-subtitle mb-2 text-muted">Dmitri Glujovski</h8>
            
          </div>
        </div>
          <div class="card " >
            <img src="{% static 'core/img/libro3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body small">
              <h6 class="card-title">La granja de los animales</h6>
              <h8 class="card-subtitle mb-2 text-muted">George Orwell</h8>
            </div>
          </div>
          <div class="card " >
            <img src="{% static 'core/img/libro3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body small">
              <h6 class="card-title">La granja de los animales</h6>
              <h8 class="card-subtitle mb-2 text-muted">George Orwell</h8>
            </div>
          </div>
          <div class="card " >
            <img src="{% static 'core/img/libro3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body small">
              <h6 class="card-title">La granja de los animales</h6>
              <h8 class="card-subtitle mb-2 text-muted">George Orwell</h8>
            </div>
          </div>
          <div class="card " >
            <img src="{% static 'core/img/libro3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body small">
              <h6 class="card-title">La granja de los animales</h6>
              <h8 class="card-subtitle mb-2 text-muted">George Orwells</h8>
            </div>
          </div>
        </div>
      </div>
      
      <!--autores-->
    <div class="container">
      <h3 class="d-inline-flex   p-2 aut"  >Autores Destacados</h3>
      <hr>
    </div>

   
    <div class="container  d-flex flex-wrap ">
      <div class="card autores" >
        <img src="{% static 'core/img/rowling.jpg' %}" class="card-img-top  img-autor" alt="...">
        
          <button class="btn-autor1 "><h5 >J.K Rowling</h5></button>
          
          
       
      </div>
      <div class="card autores" >
        <img src="{% static 'core/img/tolkien.jpg' %}" class="card-img-top img-autor " alt="...">
        
          <button class="btn-autor1 "><h5 >J.R.R Tolkien</h5></button>
          
          
       
      </div>
      <div class="card autores" >
        <img src="{% static 'core/img/king.jpg' %} " class="card-img-top img-autor " alt="...">
        
          <button class="btn-autor1 "><h5 >Stephen king</h5></button>
          
          
       
      </div>
      <div class="card autores" >
        <img src="{% static 'core/img/dimitry.jpg' %}" class="card-img-top img-autor " alt="...">
        
          <button class="btn-autor1 "><h5 >Dimitry Glujovski</h5></button>
          
          
       
      </div>
      <div class="card autores" >
        <img src="{% static 'core/img/agatha.jpg' %}" class="card-img-top img-autor " alt="...">
        
          <button class="btn-autor1 "><h5 class="nombre">Agatha Christie</h5></button>
          
          
       
      </div>
    
      
    </div>
</div>

    {% endblock %}