{% extends 'core/base.html' %}
{% block contenido %}
{% load static %}
<div class="container perro">
    <h6 class="l6 text-center p-auto">Bienvenidos a HoodBooks</h6>
</div>


<div class="container te">
    <h6 class="text-center">Tematica del mes</h6>
</div >
<div class="container">
  <div class="container  d-flex justify-content-center  row ">
    
    <img src="{% static 'core/img/terror.jpg' %}" class="img-fluid tematica  " alt="...">
    <img src="{% static 'core/img/cyberpunk.jpg' %}" class="img-fluid tematica" alt="...">
      
  </div>
</div>
       
  <div class="container  xd1  ">
    
      <div class="container xd2 d-flex justify-content-evenly libro  row ">
        {% for l in libros %}
        <div class="card  " >
          {% if l.imagenLibro %}
          <img src="{{ l.imagenLibro.url }}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body small">
            <h6 class="card-title">{{ l.nombre  }}</h6>
            <h8 class="card-subtitle mb-2 text-muted">{{ l.autor }}</h8>
            
          </div>
        </div>
        {% endfor %}
      </div>
      
      
      <!--autores-->
    <div class="container">
      <h3 class="d-inline-flex   p-2 aut"  >Autores Destacados</h3>
      <hr>
    </div>

   
    <div class="container  d-flex flex-wrap justify-content-evenly">
      {% for a in autores %}
      <div class="card autores" >
        <img src="{{ a.imagenAutor.url }}" class="card-img-top  img-autor" alt="...">
        
          <h5 class="nombre-autorhome" >{{ a.nombre }}</h5>
          
          
       
      </div>
      {% endfor %}
    
    
      
    </div>
</div>

    {% endblock %}