{% extends 'core/base.html' %}
{% block contenido %}
{% load static %}

<div class="container-fluid  d-flex   row contenedorL ">

    <div class="container-fluid col libro d-flex justify-content-center">
        
       <img src="{{ libro.imagenLibro.url  }}"  class="libro1"> 
       
    </div>

    <div class=" contenido  ">
      <div class="titulo">
        <h2 >{{libro.nombre}}</h2>
       
        <div class="d-flex">
          <h6 class="claro">{{ libro.autor}}</h6>
          <div class="d-flex justify-content-center temas">
            <h7 class="temas">{{libro.generoPrimario}}</h7>
            <h7 class="temas">{{libro.generoSecundario}}</h7>
            <h7 class="temas">{{libro.generoTerciario}}</h7>
          </div>
        </div>
      </div>
      <div class="content ">
        <h5>Sinopsis</h5>
          <p>{{libro.sinopsis}}
          </p>
          <h6>Especificaciones</h6>
          <div class="especi d-flex">
          <div class="especificaciones row">
            <h7 class="claro">Autor: {{libro.autor}}</h7>
            <h7 class="claro">Editorial: {{libro.editorial}}</h7>
            <h7 class="claro">Paginas: {{libro.paginas}}</h7>
            <h7 class="claro">Idioma: {{libro.idioma}}</h7>
            <h7 class="claro">Fecha: {{libro.fecha_estreno}}</h7>
          </div>
          <div class="esp ">
            <button type="button " class="descargar">Descargar</button>
          </div>
          
        </div>
      </div>
      
         
    
    </div>
  </div>
          
 
{% endblock %}