{% extends 'core/base.html' %}
{% block contenido %}
{% load static %}



<div class="container-fluid dd "  >
 
  <h1 class=" ms-2 tituloLibros ">Libros</h1>
  <hr class="hrl">  
</div>

<div class="container-fluid d-flex flex-wrap  ">
  <div class="container-fluid  categoriasL ">
   <h3 class="mt-2">Categorias</h3>
   <br>
  
    {% for g in generoPrimario %}
      <h6 class="categoria"> {{ g.nombre }}</h6>
    {% endfor %}

  </div>
  


  <div class="container-fluid conlibros ">
   
    <div class="container-fluid  d-flex flex-wrap justify-content-evenly">
     
      {% for l in libros %}
     
        <div class="card" >
          <a href="{% url 'libro' l.id %}" >
          {% if l.imagenLibro %}
          <img src="{{ l.imagenLibro.url }}" class="card-img-top" alt="...">
          {% endif %}
          
            <div class="card-body small">
            
              <h6 class="card-title">{{ l.nombre  }}</h6>
              <h8 class="card-subtitle mb-2 text-muted">{{ l.autor }}</h8>
            
              
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      
     
   
   
    <div>
      {% include 'core/paginator.html' %}
    </div>
   
  </div>

</div>

{% endblock %}