{% extends 'core/base.html' %}
{% block contenido %}
{% load static %}



<div class="container-fluid dd "  >
 
  <h1 class=" ms-2 tituloLibros ">Libros</h1>
  <hr class="hrl">  
</div>



<div class="container-fluid d-flex flex-wrap  ">
  <div class="container-fluid  categoriasL ">
   <h3 class="mt-2">Categorias</h3>
   <br>
   Aventura
   <br><br>
  
   Biografias
   <br><br>
   Ciencias
   <br><br>
   cyberpunk
   <br><br>
   Economia
   <br><br>
   Terror
   <br><br>
   Ciencia Ficción
   <br><br>
   Computación
   <br><br>
   Suspenso
   <br><br>
   Infantil y juvenil
   <br><br>
   Gastronomia
   <br><br>
   Zoologia y Animales
   <br><br>
   Videojuegos
   <br><br>
   Salud
  </div>
  


  <div class="container-fluid conlibros ">
   <h3>Libros</h3>

   
  </div>

</div>

{% endblock %}